/*LAYOUT*/

html, body{
	height: 100%;
	overflow: auto;
}

legend{
font-size:30px;	
}
.row legend{
font-size:20px;	
}

body{
	font-family: Helvetica,Arial,sans-serif;

}

header{
	font-size:16px;
	font-family:verdana;
	}
	header a {
	color:#fff;
	}

.nomes {

	margin_left: 10em;

}

/*BARRA DE NAVEGAÇÃO*/
.nav-tabs{
	margin-top: 10px;
	margin-bottom: 5px;
}

input[type=checkbox]{
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 15px;
	margin-right:10px;
	}

/* Might want to wrap a span around your checkbox text */
	.checkboxtext
	{
	/* Checkbox text */
	font-size: 110%;
	display: inline;
	}	
/* Botões*/




/* Rodapé*/


/* TIPOGRAFIA*/


/*Media Queries*/

/*xs*/
@media screen and (max-width: 767px){
	h1{
		font-size: 50px;
	}
	.btn-custom{
		margin: 10px 15px;	
	}

	.iphones{
		height: 400px;
		width: auto;
	}
}


/*sm*/
@media screen and (min-width: 768px){
	h1{
		font-size: 70px;
	}
}

/*md*/
@media screen and (min-width: 992px){
	h1{
		font-size: 80px;
	}
}

/*lg*/
@media screen and (min-width: 1200px){
	h1{
		font-size: 100px;
	}
}